/* .jumbotron {
  padding-top: 10rem;
  background-color: #e2edff;
}
#project {
  background-color: #e2edff;
}

body {
  font-family: "poppins";
}
.biruTua {
  color: #17063d;
} */
/* #home {
  background-color: #e2edff;
} */
/* .carousel-item {
  height: 450px;
} */
/* .carousel-item img {
  height: 480px;
} */
/* .hero {
  /* min-height: 100vh; */
/* height: 450px; */
/* display: flex; */
/* align-items: center; */
/* background-image: url("img/1.png"); */
/* background-repeat: no-repeat;
  background-size: cover; */

/* position: absolute; */

/* position: relative; */
/* } */
/* body {  /* min-height: 2000px; */
/* }
.main1 {
  margin-top: -100px;
} */
/* //kedau kopi */
/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#337099" fill-opacity="2" d="M0,128L1440,224L1440,320L0,320Z"></path></svg> */
